body {
  background-color: #eee;
}

main {
  min-height: 80vh;
}

img {
  max-width: 100%;
}

.thumb-link {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 3;
}

.main-header {
  margin-bottom: 1.45rem;
  background: #fff;
}
.main-header .main-header-logo {
  max-height: 100px;
  display: block;
  margin: 0 auto;
}

.hero-standard {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 350px;
  height: 40vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-bottom: 1rem;
}
.hero-standard a,
.hero-standard a:hover {
  color: #fff;
}

.grid-item-wrap {
  margin-bottom: 1rem;
  position: relative;
  display: block;
  width: 100%;
  flex: 0 0 33.333333%;
  max-width: 33.333333%;
  padding-left: 10px;
  padding-right: 10px;
}
@media only screen and (max-width: 768px) {
  .grid-item-wrap {
    flex: 0 0 50%;
    max-width: 50%;
  }
}
@media only screen and (max-width: 546px) {
  .grid-item-wrap {
    flex: 0 0 100%;
    max-width: 100%;
  }
}
.grid-item-wrap .grid-item-image {
  position: relative;
}
.grid-item-wrap .grid-item-image img {
  margin-bottom: 1rem;
}

.category-listing-wrap {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-left: -10px;
  margin-right: -10px;
}
.category-listing-wrap .category-item {
  position: relative;
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.category-listing-wrap .category-item h3 {
  text-align: center;
  z-index: 2;
  color: #fff;
  font-weight: 500;
  position: relative;
  margin-bottom: 15px;
}
.category-listing-wrap .category-item:after {
  content: " ";
  position: absolute;
  background: rgba(0, 0, 0, 0.5);
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 1;
}

.product-listing-wrap {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.product-listing-wrap .grid-item-wrap {
  flex: 0 0 50%;
  max-width: 50%;
}
@media only screen and (max-width: 546px) {
  .product-listing-wrap .grid-item-wrap {
    flex: 0 0 100%;
    max-width: 100%;
  }
}
.product-listing-wrap .product-price {
  display: flex;
  justify-content: space-between;
}

.cart-button {
  position: fixed;
  bottom: 20px;
  right: 20px;
  width: 60px;
  height: 60px;
  background-color: #222;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  user-select: none;
}
.cart-button img {
  margin: 0;
  margin-right: 4px;
  width: 32px;
}

.cart-wrap {
  position: fixed;
  bottom: 86px;
  right: 20px;
  z-index: 9;
  width: 337px;
  max-width: 100%;
  padding: 10px;
  border-radius: 25px;
  box-shadow: -2px 2px 12px rgba(0, 0, 0, 0.4);
  background-color: #fff;
}
.cart-wrap h3, .cart-wrap h4, .cart-wrap h5 {
  margin-bottom: 10px;
}
.cart-wrap .cart-total {
  display: flex;
  justify-content: space-between;
}
.cart-wrap .cart-item {
  border-bottom: 1px solid rgba(0, 0, 0, 0.4);
  padding-bottom: 10px;
  margin-bottom: 10px;
}
.cart-wrap .cart-item .cart-item-price {
  display: flex;
  justify-content: space-between;
}

.cart-add,
.cart-remove {
  border: none;
  height: 0;
  line-height: 0;
  padding: 0;
  outline: none;
}
.cart-add img,
.cart-remove img {
  margin: 0;
  width: 25px;
}

footer {
  background-color: #fff;
}
footer .footer {
  margin: 0px auto;
  max-width: 960px;
  padding: 1.45rem 1.0875rem;
}
footer .footer .footer-text-wrap {
  display: flex;
  justify-content: space-between;
}
footer .footer .footer-text-wrap p {
  margin: 0;
}
footer .footer .main-footer-icon {
  width: 15px;
}

/*# sourceMappingURL=app.css.map */
