body{
    background-color: #eee;
    font-family: sans-serif;
}

main{
    min-height: 80vh;
}

img{
    max-width: 100%;
}

.thumb-link{
    position: absolute;
    left: 0;
    right:0;
    top:0;
    bottom:0;
    z-index: 3;
}

.main-header{
    margin-bottom: 1.45rem;
    background: #fff;
    .main-header-logo{
        max-height: 100px;
        display: block;
        margin: 0 auto;
    }
}

.hero-standard{
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 350px;
    height: 40vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-bottom: 1rem;

    a,
    a:hover{
        color: #fff;
    }
}
.grid-item-wrap{
    margin-bottom: 1rem;
    position: relative;
    display: block;
    width: 100%;
    flex: 0 0 33.333333%;
    max-width: 33.333333%;
    padding-left: 10px;
    padding-right: 10px;

    @media only screen and (max-width:768px){
        flex: 0 0 50%;
        max-width: 50%;
    }

    @media only screen and (max-width:546px){
        flex: 0 0 100%;
        max-width: 100%;
    }

    .grid-item-image{
        position: relative;
        img{
            margin-bottom: 1rem;
        }
    }    
}

.category-listing-wrap{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-left: -10px;
    margin-right: -10px;
    
    .category-item{
        position: relative;
        height: 200px;
        display: flex;
        justify-content: center;
        align-items: center;

        h3{
            text-align: center;
            z-index: 2;
            color:#fff;
            font-weight: 500;
            position: relative;
            margin-bottom: 15px;
        }

        &:after{
            content: ' ';
            position: absolute;
            background: rgba(0,0,0,0.5);
            left: 0;
            right:0;
            top:0;
            bottom:0;
            z-index: 1;
        }
    }
}

.product-listing-wrap{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    .grid-item-wrap{
        flex: 0 0 50%;
        max-width: 50%;
    
        @media only screen and (max-width:546px){
            flex: 0 0 100%;
            max-width: 100%;
        }
    }

    .product-price{
        display: flex;
        justify-content: space-between;
    }
}



.cart-button{
    position: fixed;
    bottom: 20px;
    right: 20px;

    width: 60px;
    height: 60px;
    background-color: #222;
    border-radius: 50%;

    display: flex;
    justify-content: center;
    align-items: center;
    user-select: none;
    
    img{
        margin: 0;
        margin-right: 4px;
        width: 32px;
    }
}

.cart-wrap{
    position: fixed;
    bottom: 86px;
    right: 20px;
    z-index: 9;

    width: 337px;
    max-width: 100%;
    padding: 10px;

    border-radius: 25px;
    box-shadow: -2px 2px 12px rgba(0, 0, 0, 0.4);
    background-color: #fff;

    h3,h4,h5{
        margin-bottom: 10px;
    }

    .cart-total{
        display: flex;
        justify-content: space-between;
    }

    .cart-item{
        border-bottom: 1px solid rgba(0,0,0,0.4);
        padding-bottom: 10px;
        margin-bottom: 10px;
        .cart-item-price{
            display: flex;
            justify-content: space-between;
        }
    }
}

.cart-add,
.cart-remove{
    border: none;
    height: 0;
    line-height: 0;
    padding: 0;
    outline: none;

    img{
        margin: 0;
        width: 25px;
    }
}

footer{
    background-color: #fff;
    .footer{
        margin: 0px auto;
        max-width: 960px;
        padding: 1.45rem 1.0875rem;
        .footer-text-wrap{
            display: flex;
            justify-content: space-between;

            p{
                margin: 0;
            }
        }
    
        .main-footer-icon{
            width: 15px;
        }
    }
}


// CHECKOUT STYLES
.StripeElement {
    box-sizing: border-box;
    height: 40px;
    padding: 10px 12px;
    border: 1px solid transparent;
    border-radius: 4px;
    background-color: white;
    box-shadow: 0 1px 3px 0 #e6ebf1;
    -webkit-transition: box-shadow 150ms ease;
    transition: box-shadow 150ms ease;
}

.StripeElement--focus {
    box-shadow: 0 1px 3px 0 #cfd7df;
}

.StripeElement--invalid {
    border-color: #fa755a;
}

.StripeElement--webkit-autofill {
    background-color: #fefde5 !important;
}

.stripe-button {
    border: none;
    border-radius: 4px;
    outline: none;
    text-decoration: none;
    color: #eee;
    background: #32325d;
    white-space: nowrap;
    display: inline-block;
    height: 40px;
    line-height: 40px;
    padding: 0 14px;
    box-shadow: 0 4px 6px rgba(50, 50, 93, .11), 0 1px 3px rgba(0, 0, 0, .08);
    border-radius: 4px;
    font-size: 15px;
    font-weight: 600;
    letter-spacing: 0.025em;
    text-decoration: none;
    -webkit-transition: all 150ms ease;
    transition: all 150ms ease;
    float: left;
    margin-left: 12px;
    margin-top: 28px;
}


.cart-toolbar{
    padding: 1rem;
    background-color: #4A7328;
    position: fixed;
    width: 100%;
    bottom: -104px;
    z-index: 9;

    .cart-selector{
        background: none;
        border: 3px solid #FFFFFF;
        box-sizing: border-box;
        border-radius: 25px;
        width: auto;
        padding: 7px 15px 7px 40px;
        display: inline-block;
        position: relative;

        img{
            margin: 0;
            margin-right: 8px;
            max-height: 25px;
            max-width: 25px;
            position: absolute;
            left: 9px;
        }

        span{
            color: #fff;
        }
    }
}

.cart-view{
    position: fixed;
    bottom: 0;
    width: 100%;    
    padding: 1rem;
    background-color: #4A7328;
    position: fixed;
    width: 100%;
    max-height:553px;
    overflow-y:scroll;
    bottom: 82px;
    z-index: 9;

    *:not(input){
        color:#fff;
    }

    .cart-item{
        display: flex;
        justify-content: space-between;
        border-bottom: 1px solid white;
        margin-bottom: 1rem;

        p{
            font-size:14px;
        }
    }

}


.product-extras-list{
    column-count: 3;

    label{
        display: block;
    }
}